<div class="root">
  <div class="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="card" *ngFor="let item of items">
    <mat-card-title><a [href]="item.url" target="_blank">{{ item.title }}</a></mat-card-title>
    <mat-card-subtitle>#{{ item.number }} opened on {{ item.createdAt }} by {{ item.username }}</mat-card-subtitle>
  </mat-card>
  <mat-paginator *ngIf="count > pageSize"
    [length]="count" 
    [pageSize]="pageSize"
    aria-label="Select page"
    (page)="onPageChange($event)"
    >
  </mat-paginator>
  <mat-card *ngIf="isIssuesEmptyState">
    <mat-card-title>No results found</mat-card-title>
  </mat-card>
</div>

